*~
src/build
src/bin
src/objs
.sconsign.dblite
cyhair2pbrt
obj2pbrt
bsdftest
imgtool
pbrt
pbrt_test
CMakeFiles
*/CMakeFiles
*/*/CMakeFiles
*/*/*/CMakeFiles
*/*/*/*/CMakeFiles
*/*/*/*/*/CMakeFiles
*.png
