[submodule "src/ext/openexr"]
	path = src/ext/openexr
	url = git@github.com:wjakob/openexr.git
[submodule "src/ext/zlib"]
	path = src/ext/zlib
	url = git@github.com:mitsuba-renderer/zlib
[submodule "src/ext/glog"]
	path = src/ext/glog
	url = git@github.com:google/glog.git
[submodule "src/ext/ptex"]
	path = src/ext/ptex
	url = git@github.com:wdas/ptex.git
